<link rel="stylesheet" href="./css/infocenter.css">

<div class="infocenter">
    <div class="info-head">
        <div class="info-width">
            <div class="info-nav">
                <span>信息中心</span>
                <button type="button" class="btn btn-primary btn-lg"><a href="#/home">返回首页</a></button>
            </div>
        </div>
    </div>
    <div class="info-container">
        <div class="info-width">
            <div class="info-list">
                <div class="left">
                    <ul class="list-group">
                        <li class="list-groups-item">信息中心</li>
                        <li class="list-groups-item " ng-class="{ 'active' : data.current == 1 }" ng-click="actions.setCurrent(1)">融资业务</li>
                        <li class="list-groups-item" ng-class="{ 'active' : data.current == 2 }" ng-click="actions.setCurrent(2)">关于我们</li>
                        <!--<li class="list-groups-item">新手指引</li>-->
                        <li class="list-groups-item" ng-class="{ 'active' : data.current == 3 }" ng-click="actions.setCurrent(3)">常见问题</li>
                        <li class="list-groups-item" ng-class="{ 'active' : data.current == 4 }" ng-click="actions.setCurrent(4)">网站公告</li>
                        <li class="list-groups-item" ng-class="{ 'active' : data.current == 5 }" ng-click="actions.setCurrent(5)">联系我们</li>
                    </ul>
                </div>
                <div class="right">
                    <div class="financing  bgc " ng-show="data.current == 1">
                        <div class="parent">
                            <h5>融资业务</h5>
                            <ul class="list">
                                <li class="list-item "><span>·</span>&nbsp;&nbsp;<span>什么是融资租赁(设备直租)？</span></li>
                                <li class="list-item"><span>·</span>&nbsp;&nbsp;<span>什么是融资租赁(售后回租)？</span></li>
                                <li class="list-item"><span>·</span>&nbsp;&nbsp;<span>什么是医疗采购贷(应收账款质押)？</span></li>
                                <li class="list-item"><span>·</span>&nbsp;&nbsp;<span>什么是应收账款保理？</span></li>
                            </ul>
                        </div>
                        <div class="children-one">
                            <h5></h5>
                            <div class="text">
                                <h3>什么是融资租赁(设备直租)？</h3>
                                <div class="text-container">
                                    <p>采购融资一体化，缓解资金压力。 </br>由渡众创业合作平台（以下简称“医融社平台”）提供的资金方出资购进客户所选定的设备，客户取得相关设备的使用权和收益权、并分期支付租金。租赁期满时，客户可根据合同约定的设备留购价格取得设备所有权。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="children-second">
                            <h5></h5>
                            <div class="text">
                                <h3>什么是融资租赁(售后回租)？</h3>
                                <div class="text-container">
                                    <p>融资渠道多元化，盘活自有资产。</br>
                                        客户将自有设备的所有权转让给医融社平台以获得资金，在双方签署的售后回租合同项下，客户拥有标的设备的使用权和收益权、并分期支付租金。租赁期满时，客户可根据合同约定的设备留购价格重新获取设备所有权。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="children-third">
                            <h5></h5>
                            <div class="text">
                                <h3>什么是医疗采购贷(应收账款质押)？</h3>
                                <div class="text-container">
                                    <p>增加债权人的资金流动性。</br>
                                        医疗经销机构供应商通过目前中标过的医疗产品标的，根据经销机构的上下游采购合同确定应付的进货款，通过医融社平台获取对应的个人及公司授信，完成进货行为，在账期结束前偿还进货款。
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="children-forth">
                            <h5></h5>
                            <div class="text">
                                <h3>什么是应收账款保理？</h3>
                                <div class="text-container">
                                    <p>提前回收医保款，平移医院现金流。</br>
                                        债权人（例：医疗机构）将其在医保方向的应收账款转让给医融社创业合作伙伴或关联公司，提前收回医保应收款项。此后，医融社平台根据约定的还款节点向债务人（例：医保中心）回收该笔账款。 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="asforus  bgc " ng-show="data.current == 2">
                        <h5>关于我们</h5>
                        <div class="text">
                            <h3>关于我们</h3>
                            <div class="text-container">
                                <p> 深圳渡众创业投资有限公司是专业从事医疗行业供应链金融信息服务的投资机构。业务涵盖股权投资（创业投资、并购投资、产业投资和孵化投资（创展谷孵化器）。渡众主要投资于医疗及大健康领域，包括互联网金融、大健康、生物工程、医疗器械和新制造；专注合擅长于三高模式的（高科技、高成长、高毛利和新模式）的投资项目。
                                </p>
                                <p> 医融社是深圳渡众创业投资有限公司旗下子品牌，主要业务是为医疗领域提供全供应链金融服务。医融社是一个以社群经济为核心来打造的全开放共享平台，业务领域涵盖共享金融、共享产品、共享人才、共享投资等服务。我们秉承创造价值、分享价值的服务理念，致力于为医疗领域的每一位从业者服务。
                                </p>
                            </div>

                        </div>
                    </div>
                    <!--<div class="guide bgc">
                    </div>-->
                    <div class="trouble  bgc " ng-show="data.current == 3">
                        <h5>常见问题</h5>
                        <ul class="list">
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;怎么成为医融社的会员？需要什么条件？</li>
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;注册用户过程对于昵称、登录密码有何要求？</li>
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;如何进行实名认证？实名认证是否有次数限制？</li>
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;获取验证码短信失败怎么办？</li>
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;如何申请融资？</li>
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;如何修改实名认证信息?</li>
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;融资流程是怎么样的？</li>
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;申请融资需要审核多长时间？</li>
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;医融社能贷多少金额？</li>
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;如果有平台上无法满足的需求如何处理？</li>
                        </ul>
                    </div>
                    <div class="siteNotice bgc " ng-show="data.current == 4">
                        <h5>网站公告</h5>
                        <ul class="list">
                            <li class="list-item"><span>·</span>&nbsp;&nbsp;【网站公告】：关于医融社平台服务升级的通知</li>
                        </ul>
                    </div>
                    <div class="contactus bgc" ng-show="data.current == 5">
                        <h5>联系我们</h5>
                        <div class="text">
                            <h3>联系我们</h3>
                            <div class="text-container">
                                <p>服务热线：&nbsp;0755-26659557</p>
                                <p> 公司邮箱：&nbsp;duzvp@51dzct.com</p>
                                <p>公司地址：&nbsp;广东省深圳市南山区粤海街道东滨路荔源广场B座1207室</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>