* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  color: black;
}

.panel-width {
  width: 1200px;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

ul > li {
  list-style: none;
}

p {
  margin: 0;
}

body {
  position: relative;
  min-width: 1200px;
}

.header-title {
  width: 160px;
  height: 56px;
  margin: 0 auto;
  font-family: "Microsoft Yahei";
  font-size: 40px;
  color: #212121;
  letter-spacing: 0;
}

.bottomline {
  width: 80px;
  height: 1px;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  margin: 13px auto;
}

.asforus {
  width: 100%;
  height: auto;
}

.asforus .asforus-container {
  width: 100%;
}

.asforus .asforus-container .first,
.asforus .asforus-container .third {
  background: url(../images/asforus_bg1.png) no-repeat center/100%;
  background-size: cover;
}

.asforus .asforus-container .second .media-body {
  background: url(../images/asforus_bg2.png) no-repeat center/100%;
  background-size: cover;
}

.asforus .asforus-container .third .text {
  margin-top: 9.28% !important;
}

.asforus .asforus-container .third .text .func-list .desc {
  width: 84.48%;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 38px;
  font-family: "Microsoft Yahei";
}

.asforus .asforus-container .first,
.asforus .asforus-container .second,
.asforus .asforus-container .third {
  width: 100%;
}

.asforus .asforus-container .first .media,
.asforus .asforus-container .second .media,
.asforus .asforus-container .third .media {
  width: 100%;
  height: 100%;
  font-family: "Microsoft Yahei";
}

.asforus .asforus-container .first .media .media-left,
.asforus .asforus-container .second .media .media-left,
.asforus .asforus-container .third .media .media-left {
  padding-right: 0;
}

.asforus .asforus-container .first .media .text,
.asforus .asforus-container .second .media .text,
.asforus .asforus-container .third .media .text {
  width: 100%;
  padding-left: 21.8%;
  margin-top: 10.24%;
}

.asforus .asforus-container .first .media .text .media-heading,
.asforus .asforus-container .second .media .text .media-heading,
.asforus .asforus-container .third .media .text .media-heading {
  font-size: 52px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 58px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.asforus .asforus-container .first .media .text .info,
.asforus .asforus-container .second .media .text .info,
.asforus .asforus-container .third .media .text .info {
  margin-top: 20px;
}

.asforus .asforus-container .first .media .text .info .func,
.asforus .asforus-container .second .media .text .info .func,
.asforus .asforus-container .third .media .text .info .func {
  font-size: 44px;
  color: #212121;
  letter-spacing: 0;
}

.asforus .asforus-container .first .media .text .info .under-line,
.asforus .asforus-container .second .media .text .info .under-line,
.asforus .asforus-container .third .media .text .info .under-line {
  width: 58px;
  margin-top: 28px;
  border: 2px solid #376FA4;
}

.asforus .asforus-container .first .media .text .info .func-list,
.asforus .asforus-container .second .media .text .info .func-list,
.asforus .asforus-container .third .media .text .info .func-list {
  width: 100%;
  height: 158px;
  margin-top: 20px;
  padding-top: 20px;
}

.asforus .asforus-container .first .media .text .info .func-list li,
.asforus .asforus-container .second .media .text .info .func-list li,
.asforus .asforus-container .third .media .text .info .func-list li {
  width: 133px;
  margin-right: 61px;
  margin-top: 20px;
}

.asforus .asforus-container .first .media .text .info .func-list li span,
.asforus .asforus-container .second .media .text .info .func-list li span,
.asforus .asforus-container .third .media .text .info .func-list li span {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.asforus .asforus-container .first .media .text .info .func-list li .round,
.asforus .asforus-container .second .media .text .info .func-list li .round,
.asforus .asforus-container .third .media .text .info .func-list li .round {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 5px solid #E0ECFA;
  background: #376fa4;
  border-radius: 10px;
  margin-right: 12px;
}

.asforus .asforus-container .first .media .text-right-second,
.asforus .asforus-container .second .media .text-right-second,
.asforus .asforus-container .third .media .text-right-second {
  padding-left: 6.6%;
  text-align: left;
}

.asforus .asforus-container .first .media .text-right-second .media-heading,
.asforus .asforus-container .second .media .text-right-second .media-heading,
.asforus .asforus-container .third .media .text-right-second .media-heading {
  color: #FFFFFF;
}

.asforus .asforus-container .first .media .text-right-second .info .func,
.asforus .asforus-container .second .media .text-right-second .info .func,
.asforus .asforus-container .third .media .text-right-second .info .func {
  color: #FFFFFF;
}

.asforus .asforus-container .first .media .text-right-second .info .under-line,
.asforus .asforus-container .second .media .text-right-second .info .under-line,
.asforus .asforus-container .third .media .text-right-second .info .under-line {
  border-color: #fff;
}

.asforus .asforus-container .first .media .text-right-second .info .func-list,
.asforus .asforus-container .second .media .text-right-second .info .func-list,
.asforus .asforus-container .third .media .text-right-second .info .func-list {
  width: 86.9%;
  color: #fff;
}

.asforus .asforus-container .first .media .text-right-second .info .func-list .round,
.asforus .asforus-container .second .media .text-right-second .info .func-list .round,
.asforus .asforus-container .third .media .text-right-second .info .func-list .round {
  background: #E0ECFA !important;
  border-color: #5484B1 !important;
}

.asforus .asforus-container .first .media .pic,
.asforus .asforus-container .second .media .pic,
.asforus .asforus-container .third .media .pic {
  width: 43.5%;
  height: 100%;
  padding-left: 0;
}

.asforus .asforus-container .first .media .pic img,
.asforus .asforus-container .second .media .pic img,
.asforus .asforus-container .third .media .pic img {
  width: 100%;
}

.asforus .asforus-container .forth {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.asforus .asforus-container .forth img {
  padding: 0;
  width: 100%;
}
