* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  color: black;
}

.panel-width {
  width: 1200px;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

ul > li {
  list-style: none;
}

p {
  margin: 0;
}

body {
  position: relative;
  min-width: 1200px;
}

.header-title {
  width: 160px;
  height: 56px;
  margin: 0 auto;
  font-family: "Microsoft Yahei";
  font-size: 40px;
  color: #212121;
  letter-spacing: 0;
}

.bottomline {
  width: 80px;
  height: 1px;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  margin: 13px auto;
}

.aside .carousel-indicators .active {
  background-color: #7f7f7f;
}

.siteNotice {
  margin-left: 24px;
  margin-top: 8px;
}

.siteNotice a {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #9B9B9B;
  letter-spacing: 0;
  height: 20px;
  line-height: 20px;
}

.siteNotice a img {
  margin-top: -7px;
}

.text {
  margin-top: 68px;
}

.text .works {
  padding-top: 48px;
  width: 100%;
  height: 300px;
  box-sizing: content-box;
}

.text .works .work-nav {
  width: 100%;
  height: 100%;
  position: relative;
}

.text .works .work-nav .work-nav-list {
  height: 300px;
  width: 210px;
}

.text .works .work-nav .work-nav-list .work-nav-item {
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 #D7E2ED;
  width: 210px;
  height: 100px;
}

.text .works .work-nav .work-nav-list .work-nav-item a {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  font-family: "Microsoft Yahei";
  font-size: 18px;
  letter-spacing: 0;
  display: block;
  width: 118px;
  height: 28px;
}

.text .works .work-nav .work-nav-list .work-nav-item a span {
  color: #757575;
}

.text .works .work-nav .work-nav-list .work-nav-item a img:nth-child(1) {
  display: inline-block;
}

.text .works .work-nav .work-nav-list .work-nav-item a img:nth-child(2) {
  display: none;
}

.text .works .work-nav .work-nav-list .work-nav-item a:hover {
  text-decoration: none;
}

.text .works .work-nav .work-nav-list .work-nav-item.active {
  background-color: #376fa4;
}

.text .works .work-nav .work-nav-list .work-nav-item.active span {
  color: #FFFFFF;
}

.text .works .work-nav .work-nav-list .work-nav-item.active img:nth-child(1) {
  display: none;
}

.text .works .work-nav .work-nav-list .work-nav-item.active img:nth-child(2) {
  display: inline-block;
}

.text .works .work-nav .work-messages {
  position: absolute;
  top: 0;
  right: 0;
  width: 990px;
  height: 100%;
}

.text .works .work-nav .work-messages .message-lists-one,
.text .works .work-nav .work-messages .message-lists-second,
.text .works .work-nav .work-messages .message-lists-third {
  width: 100%;
  height: 100%;
}

.text .works .work-nav .work-messages .message-lists-one .list-item,
.text .works .work-nav .work-messages .message-lists-second .list-item,
.text .works .work-nav .work-messages .message-lists-third .list-item {
  width: 330px;
  height: 100%;
  float: left;
}

.text .works .work-nav .work-messages .message-lists-one .list-item .title,
.text .works .work-nav .work-messages .message-lists-second .list-item .title,
.text .works .work-nav .work-messages .message-lists-third .list-item .title {
  text-align: center;
  height: 45px;
  line-height: 45px;
  margin: 78px auto 0 auto;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-family: "Microsoft Yahei";
}

.text .works .work-nav .work-messages .message-lists-one .list-item .info,
.text .works .work-nav .work-messages .message-lists-second .list-item .info,
.text .works .work-nav .work-messages .message-lists-third .list-item .info {
  margin: 33px auto 0 auto;
  width: 180px;
  height: 50px;
  font-size: 16px;
  color: #FCFEFF;
  letter-spacing: 0;
  line-height: 25px;
  text-align: left;
}

.text .works .work-nav .work-messages .message-lists-one .list-item a,
.text .works .work-nav .work-messages .message-lists-second .list-item a,
.text .works .work-nav .work-messages .message-lists-third .list-item a {
  display: block;
  width: 122px;
  height: 36px;
  line-height: 36px;
  font-family: "Microsoft Yahei";
  text-align: center;
  background: #376FA4;
  border-radius: 3px;
  margin: 24px auto 0 auto;
}

.text .works .work-nav .work-messages .message-lists-one .list-item:first-child {
  background: url(../images/financing1.png) no-repeat center;
}

.text .works .work-nav .work-messages .message-lists-one .list-item:nth-child(2) {
  background: url(../images/financing2.png) no-repeat center;
}

.text .works .work-nav .work-messages .message-lists-one .list-item:nth-child(3) {
  background: url(../images/financing3.png) no-repeat center;
}

.text .works .work-nav .work-messages .message-lists-second .list-item:first-child {
  background: url(../images/financing4.png) no-repeat center;
}

.text .works .work-nav .work-messages .message-lists-second .list-item:nth-child(2) {
  background: url(../images/financing5.png) no-repeat center;
}

.text .works .work-nav .work-messages .message-lists-third .list-item:first-child {
  background: url(../images/financing6.png) no-repeat center;
}

.text .works .work-nav .work-messages .message-lists-third .list-item:nth-child(2) {
  background: url(../images/financing7.png) no-repeat center;
}

.asforUs {
  margin-top: 60px;
}

.asforUs .intro {
  width: 100%;
  height: 324px;
  margin-top: 48px;
  margin-bottom: 64px;
  box-shadow: 0 2px 14px 0 rgba(55, 111, 164, 0.15);
  background: url(../images/bg_center.png) no-repeat center/100%;
}

.asforUs .intro .introMsg {
  width: 880px;
  height: 228px;
  padding-top: 48px;
  margin: 0 auto;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 38px;
  font-family: "Microsoft Yahei";
  text-indent: 2em;
}
