* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  color: black;
}

.panel-width {
  width: 1200px;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

ul > li {
  list-style: none;
}

p {
  margin: 0;
}

body {
  position: relative;
}

.header-title {
  width: 160px;
  height: 56px;
  margin: 0 auto;
  font-family: "Microsoft Yahei";
  font-size: 40px;
  color: #212121;
  letter-spacing: 0;
}

.bottomline {
  width: 80px;
  height: 1px;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  margin: 13px auto;
}

.trouble-container {
  width: 100%;
  height: 603px;
  background: #FFFFFF;
  box-shadow: 0 2px 14px 0 rgba(55, 111, 164, 0.15);
  margin: 64px auto;
  font-family: "Microsoft Yahei";
}

.trouble-container .tro {
  float: left;
  height: 100%;
}

.trouble-container .trouble-summary {
  width: 500px;
  padding-top: 70px;
  padding-left: 48px;
}

.trouble-container .trouble-summary .content {
  width: 415px;
  height: 440px;
  position: relative;
}

.trouble-container .trouble-summary .content .tro-title {
  padding-top: 8px;
  height: 28px;
  line-height: 28px;
  font-family: "Microsoft Yahei";
  font-size: 20px;
  color: #4A4A4A;
  letter-spacing: -0.21px;
}

.trouble-container .trouble-summary .content .under-line {
  width: 38px;
  border: 1px solid #212121;
  margin-top: 16px;
}

.trouble-container .trouble-summary .content .tro-summary {
  width: 100%;
  margin-top: 16px;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0;
  line-height: 27px;
}

.trouble-container .trouble-summary .content .seeMore {
  position: absolute;
  bottom: 0px;
  right: 14px;
}

.trouble-container .trouble-summary .content .seeMore span {
  font-size: 14px;
  color: #757575;
  letter-spacing: 0;
}

.trouble-container .trouble-des {
  width: 700px;
  background: #F7FAFB;
  box-shadow: 0 2px 14px 0 rgba(55, 111, 164, 0.15);
  padding-top: 64px;
  padding-left: 42px;
  padding-right: 40px;
}

.trouble-container .trouble-des .question-list {
  width: 100%;
  height: 100%;
}

.trouble-container .trouble-des .question-list .first,
.trouble-container .trouble-des .question-list .second,
.trouble-container .trouble-des .question-list .third,
.trouble-container .trouble-des .question-list .forth,
.trouble-container .trouble-des .question-list .fiveth {
  vertical-align: center;
  margin-bottom: 40px;
}

.trouble-container .trouble-des .question-list .first .badge,
.trouble-container .trouble-des .question-list .second .badge,
.trouble-container .trouble-des .question-list .third .badge,
.trouble-container .trouble-des .question-list .forth .badge,
.trouble-container .trouble-des .question-list .fiveth .badge {
  padding: 2px 5px;
  background-color: #376fa4;
  font-size: 14px;
  margin-top: -4px;
}

.trouble-container .trouble-des .question-list .first .text,
.trouble-container .trouble-des .question-list .second .text,
.trouble-container .trouble-des .question-list .third .text,
.trouble-container .trouble-des .question-list .forth .text,
.trouble-container .trouble-des .question-list .fiveth .text {
  display: inline-block;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  height: 22px;
  line-height: 22px;
  font-weight: 900;
}

.trouble-container .trouble-des .question-list .first .answear,
.trouble-container .trouble-des .question-list .second .answear,
.trouble-container .trouble-des .question-list .third .answear,
.trouble-container .trouble-des .question-list .forth .answear,
.trouble-container .trouble-des .question-list .fiveth .answear {
  padding-left: 30px;
  width: 100%;
  height: auto;
  margin-top: 5px;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0;
}
