<!--轮播图开始-->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="./css/home.css">

<div class="aside panel-width">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="./images/slide1.png" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="./images/slide2.png" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="./images/slide3.png" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>-->
    </div>
</div>
<!--轮播图结束-->
<!--网站公告开始-->
<div class="panel-width">
    <div class="siteNotice">
        <a class="" href="#/infocenter"><img src="./images/notice.png" alt=""> 【网站公告】：关于医融社平台服务升级的通知</a>
    </div>
</div>
<!--网站公告结束-->
<!--融资开始financing-->
<div class="text financing-nav">
    <div class="panel-width">
        <div class="header-title">
            融资业务
        </div>
        <div class="bottomline"></div>
        <div class="works">
            <div class="work-nav">
                <div class="work-nav-list ">
                    <div class="hospital work-nav-item " ng-class="{ 'active' : data.current == 1 }" ng-click="actions.setCurrent(1)">
                        <a class="" href="javascript:void(0);">
                            <img src="./images/icon_hospital_default.png" alt="">
                            <img src="./images/icon_hospital_current.png" alt="">
                            <span>医院</span>
                        </a>
                    </div>
                    <div class="agency work-nav-item " ng-class="{ 'active' : data.current == 2 }" ng-click="actions.setCurrent(2)">
                        <a class="" href="javascript:void(0);">
                            <img src="./images/icon_agency_default.png " alt=" ">
                            <img src="./images/icon_agency_current.png " alt=" ">
                            <span>代理商</span>
                        </a>
                    </div>
                    <div class="manufacturer work-nav-item" ng-class="{ 'active' : data.current==3 }" ng-click="actions.setCurrent(3)">
                        <a class="" href="javascript:void(0);">
                            <img src="./images/icon_manufacturer_default.png " alt=" ">
                            <img src="./images/icon_manufacturer_current.png " alt=" ">
                            <span>生产厂家</span>
                        </a>
                    </div>
                </div>
                <div class="work-messages ">
                    <ul class="message-lists-one" ng-show="data.current == 1">
                        <li class="list-item ">
                            <div class="title ">融资租赁(设备直租)</div>
                            <div class="info ">采购融资一体化，缓解资金压力</div>
                            <a href=" " class="checkInfo ">查看详情</a>
                        </li>
                        <li class="list-item ">
                            <div class="title ">融资租赁(售后回租)</div>
                            <div class="info ">融资渠道多元化，盘活自有资产</div>
                            <a href=" " class="checkInfo ">查看详情</a>
                        </li>
                        <li class="list-item ">
                            <div class="title ">应收账款保理</div>
                            <div class="info ">提前回收医保款，平移医院现金流</div>
                            <a href=" " class="checkInfo ">查看详情</a>
                        </li>
                    </ul>
                    <ul class="message-lists-second " ng-show="data.current == 2">
                        <li class="list-item ">
                            <div class="title ">应收账款保理</div>
                            <div class="info ">加快债权人的账款回收， 缓解债务人的支出压力
                            </div>
                            <a href=" " class="checkInfo ">查看详情</a>
                        </li>
                        <li class="list-item ">
                            <div class="title ">医疗采购贷</div>
                            <div class="info ">增加债权人的资金流动性</div>
                            <a href=" " class="checkInfo ">查看详情</a>
                        </li>
                    </ul>
                    <ul class="message-lists-third" ng-show="data.current == 3">
                        <li class="list-item ">
                            <div class="title ">应收账款保理</div>
                            <div class="info ">加快债权人的账款回收， 缓解债务人的支出压力
                            </div>
                            <a href=" " class="checkInfo ">查看详情</a>
                        </li>
                        <li class="list-item ">
                            <div class="title ">医疗采购贷</div>
                            <div class="info ">增加债权人的资金流动性</div>
                            <a href=" " class="checkInfo ">查看详情</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<!--融资结束financing-->
<!--关于我们开始-->
<div class="asforUs ">
    <div class="panel-width ">
        <div class="header-title ">
            关于我们
        </div>
        <div class="bottomline "></div>
        <div class="intro ">
            <div class="introMsg ">
                <p> 深圳渡众创业投资有限公司是专业从事医疗行业供应链金融信息服务的投资机构。业务涵盖股权投资（创业投资、并购投资、产业投资和孵化投资（创展谷孵化器）。渡众主要投资于医疗及大健康领域，包括互联网金融、大健康、生物工程、医疗器械和新制造；专注合擅长于三高模式的（高科技、高成长、高毛利和新模式）的投资项目。
                </p>
                <p>医融社是深圳渡众创业投资有限公司旗下子品牌，主要业务是为医疗领域提供全供应链金融服务。医融社是一个以社群经济为核心来打造的全开放共享平台，业务领域涵盖共享金融、共享产品、共享人才、共享投资等服务。我们秉承创造价值、分享价值的服务理念，致力于为医疗领域的每一位从业者服务。
                </p>
            </div>

        </div>
    </div>
</div>
<!--关于我们结束-->