// 导入基础的样式
@import "base.scss";
// 头部样式开始
.header {
    width: 100%;
    height: 90px;
    // border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 0 0 rgba(33, 33, 33, 0.10);
    .navbar-default {
        border-color: transparent;
        background-color: #FFF;
        .navbar-brand {
            display: block;
            width: 164px;
            height: 70px;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
            box-sizing: content-box;
            img {
                margin-top: 15px;
                width: 100%;
                display: block;
            }
        }
    }
    .navbar {
        height: 90px;
        .navbar-right {
            .item {
                width: 112px;
                a {
                    font-size: 20px;
                    color: #757575;
                    font-family: PingFangSC-Regular;
                    line-height: 28px;
                    padding-top: 33px;
                    padding-bottom: 21px;
                    // width: 100px;
                    text-align: center;
                }
            }
            .bootcolor {
                border-bottom: 8px solid rgb(32, 75, 98);
                font-weight: 900;
                a {
                    color: rgb(32, 75, 98);
                    font-family: "Microsoft Yahei";
                    color: #204B62;
                    letter-spacing: 0;
                    // color: red;
                }
                a:hover {
                    pointer-events: none;
                }
            }
        }
    }
}

// 头部样式结束
// 底部开始
.footer {
    height: 286px;
    width: 100%;
    background-color: #212121;
    // position: absolute;
    // bottom: 0;
    // margin-top: 64px;
    .promote {
        height: 185px;
        width: 100%;
        border-bottom: 2px solid #979797;
        padding: 48px 0 0 0;
        // background-color: red;
        //本模块公用和混用样式开始  
        h5 {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.70);
            letter-spacing: 0;
            font-family: "Microsoft Yahei";
            // text-align: center;
        }
        .promote-item {
            float: left;
            margin-left: 64px;
            p {
                padding-top: 5px;
                font-size: 14px;
                height: 25px;
                line-height: 25px;
                color: rgba(255, 255, 255, 0.40);
                letter-spacing: 0;
                cursor: pointer;
                a {
                    color: rgba(255, 255, 255, 0.40);
                    text-decoration: none;
                }
                a:hover {
                    // pointer-events: none;
                    color: rgba(255, 255, 255, 0.40);
                }
            }
        }
        //本模块公用和混用样式结束 
        .ewm {
            width: 88px;
            img {
                width: 100%;
            }
        }
        .servicesInfo {
            h5 {
                color: rgba(255, 255, 255, 0.40);
            }
            .hotLine {
                font-size: 24px;
                color: #FFFFFF;
                letter-spacing: 0.9px;
            }
        }
        .footer-log {
            width: 104px;
            height: 108px;
            margin-top: 10px;
            img {
                height: 100%;
            }
        }
    }
    .links {
        padding-left: 24px;
        .links-list {
            width: 100%;
            line-height: 25px;
            height: 25px;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.40);
            letter-spacing: 0;
            margin-top: 10px;
            .item {
                display: inline-block;
                margin-left: 40px;
                float: left;
            }
            .item:first-child {
                color: #376fa4;
            }
        }
    }
    .copyRight {
        width: 480px;
        margin: 0 auto;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.20);
        letter-spacing: 0;
        height: 25px;
        line-height: 25px;
        font-family: "Microsoft Yahei"
    }
}

// 底部结束