@import './base.scss';
// 轮播图样式开始
.aside {
    .carousel-indicators {
        .active {
            background-color: rgb(127, 127, 127)
        }
    }
}

// 轮播图样式结束
// 网站公告开始
.siteNotice {
    margin-left: 24px;
    margin-top: 8px;
    a {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #9B9B9B;
        letter-spacing: 0;
        height: 20px;
        line-height: 20px;
        img {
            margin-top: -7px;
        }
    }
}

// 网站公告结束
// 共享样式开始
// .header-title {
//     width: 160px;
//     height: 56px;
//     margin: 0 auto;
//     font-family: "Microsoft Yahei";
//     font-size: 40px;
//     color: #212121;
//     letter-spacing: 0;
// }
// .bottomline {
//     width: 80px;
//     height: 1px;
//     border-top: 1px solid #4a4a4a;
//     border-bottom: 1px solid #4a4a4a;
//     margin: 13px auto;
// }
// 共享样式结束
// 融资业务开始
.text {
    margin-top: 68px;
    .works {
        padding-top: 48px;
        width: 100%;
        height: 300px;
        box-sizing: content-box;
        .work-nav {
            width: 100%;
            height: 100%;
            position: relative;
            .work-nav-list {
                height: 300px;
                width: 210px;
                .work-nav-item {
                    // border: 1px solid #2F5E8A;
                    cursor: pointer;
                    box-sizing: border-box;
                    // box-shadow: 0 2px 6px 0 rgba(52, 132, 245, 1.0);
                    // 修改过原型图
                    box-shadow: 0 2px 12px 0 #D7E2ED;
                    width: 210px;
                    height: 100px;
                    a {
                        text-align: center;
                        margin: 0 auto;
                        padding-top: 30px;
                        font-family: "Microsoft Yahei";
                        // 修改过原型图
                        font-size: 18px;
                        letter-spacing: 0;
                        display: block;
                        // 修改过原型图
                        width: 118px;
                        height: 28px;
                        span {
                            color: #757575;
                        }
                        img:nth-child(1) {
                            display: inline-block;
                        }
                        img:nth-child(2) {
                            display: none;
                        }
                    }
                    a:hover {
                        text-decoration: none;
                    }
                }
                .work-nav-item.active {
                    background-color: #376fa4;
                    // #current {
                    span {
                        color: #FFFFFF;
                    }
                    img:nth-child(1) {
                        display: none;
                    }
                    img:nth-child(2) {
                        display: inline-block;
                    }
                    // }
                }
            }
            .work-messages {
                position: absolute;
                top: 0;
                right: 0;
                width: 990px;
                height: 100%;
                // .message-lists-one,
                // .message-lists-second,
                // {
                //     display: none;
                // }
                .message-lists-one,
                .message-lists-second,
                .message-lists-third {
                    width: 100%;
                    height: 100%;
                    .list-item {
                        // border: 1px solid #000;
                        width: 330px;
                        height: 100%;
                        float: left;
                        .title {
                            text-align: center;
                            height: 45px;
                            line-height: 45px;
                            margin: 78px auto 0 auto;
                            font-size: 32px;
                            color: #FFFFFF;
                            letter-spacing: 0;
                            font-family: "Microsoft Yahei"
                        }
                        .info {
                            margin: 33px auto 0 auto;
                            width: 180px;
                            height: 50px;
                            font-size: 16px;
                            color: #FCFEFF;
                            letter-spacing: 0;
                            line-height: 25px;
                            text-align: left;
                        }
                        a {
                            display: block;
                            width: 122px;
                            height: 36px;
                            line-height: 36px;
                            font-family: "Microsoft Yahei";
                            text-align: center;
                            background: #376FA4;
                            border-radius: 3px;
                            margin: 24px auto 0 auto;
                        }
                    }
                }
                .message-lists-one {
                    .list-item:first-child {
                        background: url(../images/financing1.png) no-repeat center;
                    }
                    .list-item:nth-child(2) {
                        background: url(../images/financing2.png) no-repeat center;
                    }
                    .list-item:nth-child(3) {
                        background: url(../images/financing3.png) no-repeat center;
                    }
                }
                .message-lists-second {
                    .list-item:first-child {
                        background: url(../images/financing4.png) no-repeat center;
                    }
                    .list-item:nth-child(2) {
                        background: url(../images/financing5.png) no-repeat center;
                    }
                }
                .message-lists-third {
                    .list-item:first-child {
                        background: url(../images/financing6.png) no-repeat center;
                    }
                    .list-item:nth-child(2) {
                        background: url(../images/financing7.png) no-repeat center;
                    }
                }
            }
        }
    }
}

// 融资业务结束
// 关于我们开始
.asforUs {
    margin-top: 60px;
    .intro {
        width: 100%;
        height: 324px;
        margin-top: 48px;
        margin-bottom: 64px;
        box-shadow: 0 2px 14px 0 rgba(55, 111, 164, 0.15);
        background: url(../images/bg_center.png) no-repeat center/100%;
        .introMsg {
            width: 880px;
            height: 228px;
            padding-top: 48px;
            margin: 0 auto;
            font-size: 16px;
            color: #212121;
            letter-spacing: 0;
            line-height: 38px;
            font-family: "Microsoft Yahei";
            text-indent: 2em;
        }
    }
}

// 关于我们结束